## In this file, the training and test data for Ames houses are cleaned.

In [153]:
# Import libraries
import pandas as pd
import numpy as np

In [154]:
# Load datasets
train = pd.read_csv('../datasets/train.csv')
test = pd.read_csv('../datasets/test.csv')

### Part 1: Training Set

In [155]:
# Check shape of training set so I can solve the data cleaning problem in appropriate chunks
train.shape

(2051, 81)

In [156]:
train.iloc[:, 0:10].isnull().sum()

Id                 0
PID                0
MS SubClass        0
MS Zoning          0
Lot Frontage     330
Lot Area           0
Street             0
Alley           1911
Lot Shape          0
Land Contour       0
dtype: int64

In [157]:
train.iloc[:, 0:10].head(15)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl
5,138,535126040,20,RL,137.0,16492,Pave,NaN,IR1,Lvl
6,2827,908186070,180,RM,35.0,3675,Pave,NaN,Reg,Lvl
7,145,535154050,20,RL,NaN,12160,Pave,NaN,IR1,Lvl
8,1942,535353130,20,RL,NaN,15783,Pave,NaN,Reg,Lvl
9,1956,535426130,60,RL,70.0,11606,Pave,NaN,IR1,HLS
10,1044,527451290,160,RM,21.0,1680,Pave,NaN,Reg,Lvl
11,2752,906380150,20,RL,64.0,7488,Pave,NaN,IR1,Lvl
12,807,906226060,70,RL,120.0,26400,Pave,NaN,Reg,Bnk
13,1177,533236070,160,FV,24.0,2645,Pave,Pave,Reg,Lvl
14,1480,907418040,20,RL,74.0,9627,Pave,NaN,Reg,Lvl

In [158]:
# The null values in Alley should be converted to the string "NA" for no alley
train['Alley'] = train['Alley'].fillna('NA')

In [159]:
'''
The houses with null Lot Frontage all have lots (since there are no nulls in Lot Area).
Since the NaN's appear to be random, we can try to fill in the NaN's with the Lot Frontage mean.
'''

train['Lot Frontage'] = train['Lot Frontage'].fillna(round(train['Lot Frontage'].mean()))

In [160]:
train.iloc[:, 0:10].isnull().sum()

Id              0
PID             0
MS SubClass     0
MS Zoning       0
Lot Frontage    0
Lot Area        0
Street          0
Alley           0
Lot Shape       0
Land Contour    0
dtype: int64

In [161]:
train.iloc[:, 0:10].head(15)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour
0,109,533352170,60,RL,69.0,13517,Pave,NA,IR1,Lvl
1,544,531379050,60,RL,43.0,11492,Pave,NA,IR1,Lvl
2,153,535304180,20,RL,68.0,7922,Pave,NA,Reg,Lvl
3,318,916386060,60,RL,73.0,9802,Pave,NA,Reg,Lvl
4,255,906425045,50,RL,82.0,14235,Pave,NA,IR1,Lvl
5,138,535126040,20,RL,137.0,16492,Pave,NA,IR1,Lvl
6,2827,908186070,180,RM,35.0,3675,Pave,NA,Reg,Lvl
7,145,535154050,20,RL,69.0,12160,Pave,NA,IR1,Lvl
8,1942,535353130,20,RL,69.0,15783,Pave,NA,Reg,Lvl
9,1956,535426130,60,RL,70.0,11606,Pave,NA,IR1,HLS
10,1044,527451290,160,RM,21.0,1680,Pave,NA,Reg,Lvl
11,2752,906380150,20,RL,64.0,7488,Pave,NA,IR1,Lvl
12,807,906226060,70,RL,120.0,26400,Pave,NA,Reg,Bnk
13,1177,533236070,160,FV,24.0,2645,Pave,Pave,Reg,Lvl
14,1480,907418040,20,RL,74.0,9627,Pave,NA,Reg,Lvl

In [162]:
train.iloc[:, 0:10].dtypes

Id                int64
PID               int64
MS SubClass       int64
MS Zoning        object
Lot Frontage    float64
Lot Area          int64
Street           object
Alley            object
Lot Shape        object
Land Contour     object
dtype: object

In [163]:
train.iloc[:, 10:20].isnull().sum()

Utilities       0
Lot Config      0
Land Slope      0
Neighborhood    0
Condition 1     0
Condition 2     0
Bldg Type       0
House Style     0
Overall Qual    0
Overall Cond    0
dtype: int64

In [164]:
train.iloc[:, 10:20].dtypes

Utilities       object
Lot Config      object
Land Slope      object
Neighborhood    object
Condition 1     object
Condition 2     object
Bldg Type       object
House Style     object
Overall Qual     int64
Overall Cond     int64
dtype: object

Columns 11-20 do not need to be cleaned as there are no nulls and the data types are correct.

In [165]:
train.iloc[:, 20:30].isnull().sum()

Year Built         0
Year Remod/Add     0
Roof Style         0
Roof Matl          0
Exterior 1st       0
Exterior 2nd       0
Mas Vnr Type      22
Mas Vnr Area      22
Exter Qual         0
Exter Cond         0
dtype: int64

In [166]:
train.iloc[:, 20:30][train['Mas Vnr Type'].isnull()]

,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond
22,2005,2006,Gable,CompShg,CemntBd,CmentBd,NaN,NaN,Gd,TA
41,2006,2006,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Ex,TA
86,2003,2003,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
212,2008,2009,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
276,2002,2002,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,TA,TA
338,2007,2007,Hip,CompShg,WdShing,Wd Shng,NaN,NaN,Gd,TA
431,2002,2002,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
451,2006,2007,Hip,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
591,2006,2007,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
844,2006,2007,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
913,1957,1975,Hip,CompShg,Wd Sdng,Stone,NaN,NaN,Gd,TA
939,2007,2008,Gable,CompShg,CemntBd,CmentBd,NaN,NaN,Gd,TA
1025,2007,2007,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1244,2002,2002,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1306,2003,2003,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1430,2002,2002,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1434,2007,2007,Gable,CompShg,CemntBd,CmentBd,NaN,NaN,Gd,TA
1606,2002,2002,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1699,2006,2007,Hip,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1815,2006,2006,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1820,2007,2007,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA
1941,2002,2002,Gable,CompShg,VinylSd,VinylSd,NaN,NaN,Gd,TA

In [167]:
# If mass veneer type is null, I will assume it is actually None and that mass veneer area is 0.
train['Mas Vnr Type'] = train['Mas Vnr Type'].fillna('None')
train['Mas Vnr Area'] = train['Mas Vnr Area'].fillna(0)

In [168]:
train.iloc[:, 20:30].isnull().sum()

Year Built        0
Year Remod/Add    0
Roof Style        0
Roof Matl         0
Exterior 1st      0
Exterior 2nd      0
Mas Vnr Type      0
Mas Vnr Area      0
Exter Qual        0
Exter Cond        0
dtype: int64

In [169]:
train.iloc[:, 20:30].dtypes

Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
dtype: object

In [170]:
train.iloc[:, 30:40].isnull().sum()

Foundation         0
Bsmt Qual         55
Bsmt Cond         55
Bsmt Exposure     58
BsmtFin Type 1    55
BsmtFin SF 1       1
BsmtFin Type 2    56
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
dtype: int64

In [171]:
train.iloc[:, 30:40][train['Bsmt Qual'].isnull()].head(15)

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
12,PConc,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
93,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
114,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
146,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
183,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
240,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
249,BrkTil,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
256,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
390,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
437,PConc,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
485,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
499,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
514,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
580,Slab,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
581,CBlock,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0

In [172]:
'''
The basement categorical variables will have their NaN's replaced with 'NA' for no basement.
The basement numerical variables will have their NaN's replaced with 0 because the basement has no area.
'''

train['Bsmt Qual'] = train['Bsmt Qual'].fillna('NA')
train['Bsmt Cond'] = train['Bsmt Cond'].fillna('NA')
train['BsmtFin Type 1'] = train['BsmtFin Type 1'].fillna('NA')
train['BsmtFin SF 1'] = train['BsmtFin SF 1'].fillna(0)
train['BsmtFin SF 2'] = train['BsmtFin SF 2'].fillna(0)
train['Bsmt Unf SF'] = train['Bsmt Unf SF'].fillna(0)
train['Total Bsmt SF'] = train['Total Bsmt SF'].fillna(0)

In [173]:
train.iloc[:, 30:40][train['Bsmt Exposure'].isnull()].head(15)

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
12,PConc,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
93,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
114,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
146,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
183,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
240,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
249,BrkTil,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
256,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
390,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
437,PConc,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
485,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
499,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
514,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
580,Slab,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0
581,CBlock,NA,NA,NaN,NA,0.0,NaN,0.0,0.0,0.0

In [174]:
# With Exposure we have to be more careful - 'NA' for no basement and 'No' for no exposure

train.loc[train['Bsmt Qual'] == 'NA', 'Bsmt Exposure'] = train.loc[train['Bsmt Qual'] == 'NA', 'Bsmt Exposure'].fillna('NA')

In [175]:
train.iloc[:, 30:40][train['Bsmt Exposure'].isnull()].head(15)

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
1456,CBlock,Gd,TA,NaN,Unf,0.0,Unf,0.0,725.0,725.0
1547,PConc,Gd,TA,NaN,Unf,0.0,Unf,0.0,1595.0,1595.0
1997,PConc,Gd,TA,NaN,Unf,0.0,Unf,0.0,936.0,936.0

In [176]:
train['Bsmt Exposure'] = train['Bsmt Exposure'].fillna('No')

In [177]:
train.loc[train['Bsmt Qual'] == 'NA', 'BsmtFin Type 2'] = train.loc[train['Bsmt Qual'] == 'NA', 'BsmtFin Type 2'].fillna('NA')

In [178]:
train.iloc[:, 30:40][train['BsmtFin Type 2'].isnull()].head()

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
1147,PConc,Gd,TA,No,GLQ,1124.0,NaN,479.0,1603.0,3206.0

In [179]:
'''
Since the basement quality overall is marked as "good", 
I will assume that the Type 2 finished area for the remaining NaN is good as well.
'''

train['BsmtFin Type 2'] = train['BsmtFin Type 2'].fillna('GLQ')

In [180]:
train.iloc[:, 30:40].isnull().sum()

Foundation        0
Bsmt Qual         0
Bsmt Cond         0
Bsmt Exposure     0
BsmtFin Type 1    0
BsmtFin SF 1      0
BsmtFin Type 2    0
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
dtype: int64

In [181]:
train.iloc[:, 30:40].dtypes

Foundation         object
Bsmt Qual          object
Bsmt Cond          object
Bsmt Exposure      object
BsmtFin Type 1     object
BsmtFin SF 1      float64
BsmtFin Type 2     object
BsmtFin SF 2      float64
Bsmt Unf SF       float64
Total Bsmt SF     float64
dtype: object

In [182]:
train.iloc[:, 40:52].isnull().sum()

Heating            0
Heating QC         0
Central Air        0
Electrical         0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     2
Bsmt Half Bath     2
Full Bath          0
Half Bath          0
dtype: int64

In [183]:
train.iloc[:, 40:52][train['Bsmt Full Bath'].isnull()].head()

,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath
616,GasA,TA,Y,SBrkr,3820,0,0,3820,NaN,NaN,3,1
1327,GasA,TA,Y,FuseA,896,0,0,896,NaN,NaN,1,0

In [184]:
# I will just fill in the number of full baths and half baths with the mean
train['Bsmt Full Bath'] = train['Bsmt Full Bath'].fillna(train['Bsmt Full Bath'].mean())
train['Bsmt Half Bath'] = train['Bsmt Half Bath'].fillna(train['Bsmt Half Bath'].mean())

# Making sure the datatype is integer
train['Bsmt Full Bath'] = train['Bsmt Full Bath'].map(lambda x: int(x))
train['Bsmt Half Bath'] = train['Bsmt Half Bath'].map(lambda x: int(x))

In [185]:
train.iloc[:, 40:52].isnull().sum()

Heating            0
Heating QC         0
Central Air        0
Electrical         0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
dtype: int64

In [186]:
train.iloc[:, 40:52].dtypes

Heating            object
Heating QC         object
Central Air        object
Electrical         object
1st Flr SF          int64
2nd Flr SF          int64
Low Qual Fin SF     int64
Gr Liv Area         int64
Bsmt Full Bath      int64
Bsmt Half Bath      int64
Full Bath           int64
Half Bath           int64
dtype: object

In [187]:
train.iloc[:, 52:59].isnull().sum()

Bedroom AbvGr       0
Kitchen AbvGr       0
Kitchen Qual        0
TotRms AbvGrd       0
Functional          0
Fireplaces          0
Fireplace Qu     1000
dtype: int64

In [188]:
train.iloc[:, 52:59].head()

,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu
0,3,1,Gd,6,Typ,0,NaN
1,4,1,Gd,8,Typ,1,TA
2,3,1,Gd,5,Typ,0,NaN
3,3,1,TA,7,Typ,0,NaN
4,3,1,TA,6,Typ,0,NaN

In [189]:
# Null in fireplace quality means "NA" for no fireplace
train['Fireplace Qu'] = train['Fireplace Qu'].fillna('NA')

In [190]:
train.iloc[:, 52:59].isnull().sum()

Bedroom AbvGr    0
Kitchen AbvGr    0
Kitchen Qual     0
TotRms AbvGrd    0
Functional       0
Fireplaces       0
Fireplace Qu     0
dtype: int64

In [191]:
train.iloc[:, 52:59].dtypes

Bedroom AbvGr     int64
Kitchen AbvGr     int64
Kitchen Qual     object
TotRms AbvGrd     int64
Functional       object
Fireplaces        int64
Fireplace Qu     object
dtype: object

In [192]:
train.iloc[:, 59:69].isnull().sum()

Garage Type      113
Garage Yr Blt    114
Garage Finish    114
Garage Cars        1
Garage Area        1
Garage Qual      114
Garage Cond      114
Paved Drive        0
Wood Deck SF       0
Open Porch SF      0
dtype: int64

In [193]:
train.iloc[:, 59:69][train['Garage Type'].isnull()].head()

,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF
28,NaN,NaN,NaN,0.0,0.0,NaN,NaN,N,0,0
53,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Y,200,26
65,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Y,0,30
79,NaN,NaN,NaN,0.0,0.0,NaN,NaN,N,0,0
101,NaN,NaN,NaN,0.0,0.0,NaN,NaN,N,0,0

In [194]:
'''
Since Garage year built does not always have a value, and a year built of '0' would be inaccurate,
I have decided to drop the column for both training and test.
'''
train.drop(columns = 'Garage Yr Blt', inplace = True)
test.drop(columns = 'Garage Yr Blt', inplace = True)

In [195]:
train.iloc[:, 59:68][train['Garage Type'].isnull()].head()

,Garage Type,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF
28,NaN,NaN,0.0,0.0,NaN,NaN,N,0,0
53,NaN,NaN,0.0,0.0,NaN,NaN,Y,200,26
65,NaN,NaN,0.0,0.0,NaN,NaN,Y,0,30
79,NaN,NaN,0.0,0.0,NaN,NaN,N,0,0
101,NaN,NaN,0.0,0.0,NaN,NaN,N,0,0

In [196]:
# Changing nulls to "NA" for no garage

train['Garage Type'] = train['Garage Type'].fillna('NA')
train.loc[train['Garage Type'] == 'NA', 'Garage Finish'] = train.loc[train['Garage Type'] == 'NA', 'Garage Finish'].fillna('NA')
train.loc[train['Garage Type'] == 'NA', 'Garage Qual'] = train.loc[train['Garage Type'] == 'NA', 'Garage Qual'].fillna('NA')
train.loc[train['Garage Type'] == 'NA', 'Garage Cond'] = train.loc[train['Garage Type'] == 'NA', 'Garage Cond'].fillna('NA')

In [197]:
train.iloc[:, 59:68][train['Garage Finish'].isnull()].head()

,Garage Type,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF
1712,Detchd,NaN,NaN,NaN,NaN,NaN,Y,174,0

In [198]:
print(train['Garage Finish'].mode())
print(train['Garage Qual'].mode())
print(train['Garage Cond'].mode())

0    Unf
dtype: object
0    TA
dtype: object
0    TA
dtype: object

In [199]:
# For the one random missing value, I will try to fill in nulls with mean and mode
train['Garage Finish'] = train['Garage Finish'].fillna('Unf')
train['Garage Qual'] = train['Garage Qual'].fillna('TA')
train['Garage Cond'] = train['Garage Cond'].fillna('TA')

train['Garage Cars'] = train['Garage Cars'].fillna(train['Garage Cars'].mean())
train['Garage Area'] = train['Garage Area'].fillna(train['Garage Cars'].mean())

# Making sure the datatype is integer
train['Garage Cars'] = train['Garage Cars'].map(lambda x: int(x))
train['Garage Area'] = train['Garage Area'].map(lambda x: int(x))

In [200]:
train.iloc[:, 59:68].isnull().sum()

Garage Type      0
Garage Finish    0
Garage Cars      0
Garage Area      0
Garage Qual      0
Garage Cond      0
Paved Drive      0
Wood Deck SF     0
Open Porch SF    0
dtype: int64

In [201]:
train.iloc[:, 59:68].dtypes

Garage Type      object
Garage Finish    object
Garage Cars       int64
Garage Area       int64
Garage Qual      object
Garage Cond      object
Paved Drive      object
Wood Deck SF      int64
Open Porch SF     int64
dtype: object

In [202]:
train.iloc[:, 68:80].isnull().sum()

Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2042
Fence             1651
Misc Feature      1986
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
SalePrice            0
dtype: int64

In [203]:
train.iloc[:, 68:80].head(15)

,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,0,0,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,0,0,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
5,0,0,0,0,NaN,NaN,NaN,0,6,2010,WD,190000
6,0,0,0,0,NaN,NaN,NaN,0,6,2006,New,140000
7,0,0,0,0,NaN,MnPrv,NaN,0,5,2010,COD,142000
8,0,0,0,0,NaN,MnPrv,Shed,400,6,2007,WD,112500
9,0,0,0,0,NaN,NaN,NaN,0,9,2007,WD,135000
10,0,0,0,0,NaN,NaN,NaN,0,7,2008,COD,85400
11,0,0,0,0,NaN,NaN,NaN,0,2,2006,WD,183600
12,0,0,0,0,NaN,NaN,NaN,0,6,2009,WD,131000
13,0,0,0,0,NaN,NaN,NaN,0,12,2008,ConLD,200000
14,0,0,0,0,NaN,NaN,NaN,0,6,2008,WD,193000

In [204]:
# Replacing null with "NA"

train['Pool QC'] = train['Pool QC'].fillna('NA')
train['Fence'] = train['Fence'].fillna('NA')
train['Misc Feature'] = train['Misc Feature'].fillna('NA')

In [205]:
train.iloc[:, 68:80].isnull().sum()

Enclosed Porch    0
3Ssn Porch        0
Screen Porch      0
Pool Area         0
Pool QC           0
Fence             0
Misc Feature      0
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
dtype: int64

In [206]:
train.iloc[:, 68:80].dtypes

Enclosed Porch     int64
3Ssn Porch         int64
Screen Porch       int64
Pool Area          int64
Pool QC           object
Fence             object
Misc Feature      object
Misc Val           int64
Mo Sold            int64
Yr Sold            int64
Sale Type         object
SalePrice          int64
dtype: object

### Part 2: Test Set

In [207]:
test.iloc[:, 0:10].isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    160
Lot Area          0
Street            0
Alley           820
Lot Shape         0
Land Contour      0
dtype: int64

In [208]:
test['Alley'] = test['Alley'].fillna('NA')

# Making sure to replace null with training set mean, not test set mean
test['Lot Frontage'] = test['Lot Frontage'].fillna(round(train['Lot Frontage'].mean()))

In [209]:
test.iloc[:, 10:20].isnull().sum()

Utilities       0
Lot Config      0
Land Slope      0
Neighborhood    0
Condition 1     0
Condition 2     0
Bldg Type       0
House Style     0
Overall Qual    0
Overall Cond    0
dtype: int64

In [210]:
test.iloc[:, 20:30].isnull().sum()

Year Built        0
Year Remod/Add    0
Roof Style        0
Roof Matl         0
Exterior 1st      0
Exterior 2nd      0
Mas Vnr Type      1
Mas Vnr Area      1
Exter Qual        0
Exter Cond        0
dtype: int64

In [211]:
test['Mas Vnr Type'] = test['Mas Vnr Type'].fillna('None')
test['Mas Vnr Area'] = test['Mas Vnr Area'].fillna(0)

In [212]:
test.iloc[:, 30:40].isnull().sum()

Foundation         0
Bsmt Qual         25
Bsmt Cond         25
Bsmt Exposure     25
BsmtFin Type 1    25
BsmtFin SF 1       0
BsmtFin Type 2    25
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
dtype: int64

In [213]:
test['Bsmt Qual'] = test['Bsmt Qual'].fillna('NA')
test['Bsmt Cond'] = test['Bsmt Cond'].fillna('NA')
test['Bsmt Exposure'] = test['Bsmt Exposure'].fillna('NA')
test['BsmtFin Type 2'] = test['BsmtFin Type 2'].fillna('NA')

In [214]:
test.iloc[:, 40:50].isnull().sum()

Heating            0
Heating QC         0
Central Air        0
Electrical         1
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
dtype: int64

In [215]:
test.iloc[:, 40:50][test['Electrical'].isnull()].head()

,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath
634,GasA,Gd,Y,NaN,754,640,0,1394,0,0

In [216]:
train['Electrical'].mode()

0    SBrkr
dtype: object

In [217]:
# Filling null with training set mode
test['Electrical'] = test['Electrical'].fillna('SBrkr')

In [218]:
test.iloc[:, 40:50].isnull().sum()

Heating            0
Heating QC         0
Central Air        0
Electrical         0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
dtype: int64

In [219]:
test.iloc[:, 50:59].isnull().sum()

Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
Kitchen Qual       0
TotRms AbvGrd      0
Functional         0
Fireplaces         0
Fireplace Qu     422
dtype: int64

In [220]:
test['Fireplace Qu'] = test['Fireplace Qu'].fillna('NA')

In [221]:
test.iloc[:, 59:70].isnull().sum()

Garage Type       44
Garage Finish     45
Garage Cars        0
Garage Area        0
Garage Qual       45
Garage Cond       45
Paved Drive        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
dtype: int64

In [222]:
test['Garage Type'] = test['Garage Type'].fillna('NA')
test.loc[test['Garage Type'] == 'NA', 'Garage Finish'] = test.loc[test['Garage Type'] == 'NA', 'Garage Finish'].fillna('NA')
test.loc[test['Garage Type'] == 'NA', 'Garage Qual'] = test.loc[test['Garage Type'] == 'NA', 'Garage Qual'].fillna('NA')
test.loc[test['Garage Type'] == 'NA', 'Garage Cond'] = test.loc[test['Garage Type'] == 'NA', 'Garage Cond'].fillna('NA')

In [223]:
test.iloc[:, 59:70][test['Garage Finish'].isnull()].head()

,Garage Type,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch
764,Detchd,NaN,1,360,NaN,NaN,Y,64,0,180,0

In [224]:
test['Garage Finish'] = test['Garage Finish'].fillna('Unf')
test['Garage Qual'] = test['Garage Qual'].fillna('TA')
test['Garage Cond'] = test['Garage Cond'].fillna('TA')

In [225]:
test.iloc[:, 70:79].isnull().sum()

Screen Porch      0
Pool Area         0
Pool QC         874
Fence           706
Misc Feature    837
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
dtype: int64

In [226]:
test['Pool QC'] = test['Pool QC'].fillna('NA')
test['Fence'] = test['Fence'].fillna('NA')
test['Misc Feature'] = test['Misc Feature'].fillna('NA')

### Final Step: Export cleaned data

In [227]:
train.to_csv('../datasets/train_cleaned.csv')
test.to_csv('../datasets/test_cleaned.csv')